{% extends "paginas/modelo.html" %}
<!-- Carrega a biblioteca de funções (filtros, templatetags) -->
{% load static %}


{% block conteudo %}
<div class="container justify-content-center align-items-center">
    <h3>Diagrama de classe</h3>

    <p>O diagrama de classe é uma representação visual das classes, atributos e métodos do sistema, mostrando como eles se relacionam entre si.</p>
    <img src="{% static 'img/diagrama_classe.png' %}" alt="Diagrama de Classe" class="img-fluid w-50">

    <h3>Diagrama de sequência</h3>
    <p>O diagrama de sequência ilustra a interação entre os objetos do sistema ao longo do tempo, destacando a ordem das mensagens trocadas.</p>
    <img src="{% static 'img/diagrama_de_sequencia.png' %}" alt="Diagrama de Sequencia" class="img-fluid w-50">

    <p>Contato: joilejuniot2@gmail.com</p>
</div>
{% endblock %}